/*HEADER*/
header {
	padding: var(--std-sz) 0px;
}

header nav .logo img {
	max-width: 60px;
}

header .nav {
	text-align: right;
}

header .site-nav a {
	display: inline-block;
}



/*FOOTER*/
footer {
	padding: var(--std-sz) 0px;
}

footer .nav {
	text-align: right;
}

footer a {
	display: inline-block;
}