html {
  font-family: Montserrat, arial, sans-serif;
}

p {
  font-size: 13px;
  line-height: 1.6em;
}

p.caption {
  font-size: 11px;
  line-height: 1.6em;
}

h1 {
  font-size: 33px;
  line-height: 1.2em;
}

h2 {
  font-size: 27px;
  line-height: 1.2em;
}

h3 {
  font-size: 21px;
  line-height: 1.2em;
}

h4 {
  font-size: 15px;
  line-height: 1.2em;
}

ol li, ul li {
  font-size: 11px;
  line-height: 1.6em;
}

p, p.caption, h1, h2, h3, h4, ol li, ul li {
  font-weight: 500;
}

.light {
  font-weight: 400;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}